<section class="flex h-screen w-full items-center justify-center">
  <div class="flex w-96 flex-col items-center gap-12">
    <h1 class="text-2xl text-gray-800">Login to your account.</h1>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="handleLogin()"
      class="flex w-full flex-col gap-8"
    >
      <app-input
        [group]="loginForm"
        controlName="email"
        placeholder="Enter your email address"
        label="Email address"
        type="email"
        [hasError]="checkError('email')"
      ></app-input>

      <app-input
        [group]="loginForm"
        controlName="password"
        placeholder="Enter your password"
        label="Password"
        type="password"
        [hasError]="checkError('password')"
      ></app-input>

      <button
        class="500 rounded-md bg-indigo-500 p-3 text-white transition-all hover:bg-indigo-600 disabled:bg-indigo-300"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </form>

    <p class="text-sm text-gray-800">
      Don't have an account yet?
      <a class="text-indigo-500" [routerLink]="['/register']">Register here.</a>
    </p>
  </div>
</section>
