<section class="flex w-1/2 flex-col gap-8 rounded-md bg-white p-4 shadow-sm">
  <div class="flex items-center justify-between">
    <div>
      <h2 class="text-2xl font-medium text-gray-800">Contestants</h2>
      <p class="text-sm text-gray-500">
        List of contestants registerd in the system
      </p>
    </div>
    <a
      class="inline-block rounded-md bg-indigo-500 p-3 text-sm text-white"
      [routerLink]="['new']"
      >Add contestant</a
    >
  </div>

  <span class="text-sm text-gray-600" *ngIf="contestants.length == 0; else list"
    >It looks like you didn't add any contestants yet!</span
  >

  <ng-template #list>
    <table class="w-full table-fixed border-separate border-spacing-0">
      <thead>
        <tr class="bg-gray-50">
          <th
            class="rounded-tl-md border-y border-l border-gray-200 p-4 text-left text-sm font-normal text-gray-500"
          >
            name
          </th>
          <th
            class="rounded-tr-md border-y border-r border-gray-200 p-4 text-left text-sm font-normal text-gray-500"
          >
            age
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contestant of contestants" class="group">
          <td
            class="border-g ray-200 border-l p-4 text-gray-600 group-last:rounded-bl-md group-last:border-b"
          >
            <span>{{ contestant.name }} </span>
          </td>
          <td
            class="border-r border-gray-200 p-4 text-gray-600 group-last:rounded-br-md group-last:border-b"
          >
            26
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</section>
