<section>
  <h1 class="text-2xl text-gray-800">Create a new contestant</h1>

  <form
    [formGroup]="contestantForm"
    (ngSubmit)="handleNewContestant()"
    class="flex w-full flex-col gap-8"
  >
    <div class="flex flex-col gap-1">
      <label class="text-gray-800" for="email">Email</label>
      <input
        class="rounded-md border border-gray-200 p-3 placeholder:text-gray-400"
        id="email"
        type="text"
        placeholder="name"
        formControlName="name"
      />
      <span *ngIf="checkError('name')" class="text-red-500">
        Invalid value.
      </span>
    </div>
    <button
      class="500 rounded-md bg-indigo-500 p-3 text-white transition-all hover:bg-indigo-600 disabled:bg-indigo-300"
      type="submit"
      [disabled]="!contestantForm.valid"
    >
      Create
    </button>
  </form>
</section>
