<section class="flex h-screen w-full items-center justify-center">
  <div class="flex w-96 flex-col items-center gap-12">
    <h1 class="text-2xl text-gray-800">Create a new account.</h1>

    <form
      [formGroup]="registerForm"
      (ngSubmit)="handleRegister()"
      class="flex w-full flex-col gap-8"
    >
      <div class="flex flex-col gap-1" [formGroup]="registerForm">
        <div class="flex items-center justify-between">
          <label class="text-gray-800" for="name">Name</label>
          <span *ngIf="checkError('name')" class="text-red-500">
            Invalid input
          </span>
        </div>
        <input
          formControlName="name"
          class="rounded-md border border-gray-200 p-3 placeholder:text-gray-400 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-indigo-200"
          [ngClass]="{
            'border-red-500 ring-2 ring-red-200': checkError('name')
          }"
          id="name"
          type="text"
          placeholder="Enter your name"
        />
      </div>

      <div class="flex flex-col gap-1" [formGroup]="registerForm">
        <div class="flex items-center justify-between">
          <label class="text-gray-800" for="email">Email</label>
          <span *ngIf="checkError('email')" class="text-red-500">
            Invalid input
          </span>
        </div>
        <input
          formControlName="email"
          class="rounded-md border border-gray-200 p-3 placeholder:text-gray-400 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-indigo-200"
          [ngClass]="{
            'border-red-500 ring-2 ring-red-200': checkError('email')
          }"
          id="email"
          type="email"
          placeholder="Enter your email address"
        />
      </div>

      <div class="flex flex-col gap-1" [formGroup]="registerForm">
        <div class="flex items-center justify-between">
          <label class="text-gray-800" for="password">Password</label>
          <span *ngIf="checkError('password')" class="text-red-500">
            Invalid input
          </span>
        </div>
        <input
          formControlName="password"
          class="rounded-md border border-gray-200 p-3 placeholder:text-gray-400 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-indigo-200"
          [ngClass]="{
            'border-red-500 ring-2 ring-red-200': checkError('password')
          }"
          id="password"
          type="password"
          placeholder="Enter your password"
        />
      </div>

      <button
        class="500 rounded-md bg-blue-500 p-3 text-white transition-all hover:bg-blue-600 disabled:bg-blue-300"
        type="submit"
        [disabled]="!registerForm.valid"
      >
        Register
      </button>
    </form>

    <p class="text-sm text-gray-800">
      Already have an account?
      <a class="text-blue-500" [routerLink]="['/login']">Login here.</a>
    </p>
  </div>
</section>
