<app-notification-queue></app-notification-queue>
<main class="flex">
  <div class="h-screen w-64 border-r border-gray-200 bg-white">
    <div class="flex h-16 items-center border-b border-gray-200">
      <span class="p-8 text-2xl font-bold">SkiGo</span>
    </div>
    <ul>
      <li>
        <a
          [routerLink]="['contestants']"
          class="flex gap-2 px-8 py-3 hover:bg-slate-100"
        >
          <img src="/assets/contest.svg" class="w-4" />
          Contestants
        </a>
      </li>
      <li>
        <a
          [routerLink]="['contests']"
          class="flex gap-2 px-8 py-3 hover:bg-slate-100"
        >
          <img src="/assets/user.svg" class="w-4" />
          Contests
        </a>
      </li>
    </ul>
  </div>
  <div class="min-h-screen w-full flex-1">
    <app-header></app-header>
    <section class="p-4">
      <router-outlet></router-outlet>
    </section>
  </div>
</main>
